ion-toolbar{
    --background: #131524;
  }
  ion-searchbar{
  
    width: 40%;
  }
  
  @media (max-width: 576px){
    .hide-xs{
      display: none;
    }
  }
  
  
  
  
  @media (min-width: 576px) and (max-width:768px){
    .hide-sm{
      display: none;
    }
  }
  
  .my-profile-avatar:hover{
    cursor: pointer;

}


.my-profile-avatar{
      --background: transparent;

  }

  ion-row{
    padding: 0;
    margin: 0;
  }

  ion-col{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }



  .myhome-content{
    padding: 10px;
    background-color: #060d2a;
    display: flex;
    height: calc(100vh  - 90px);
    border-radius: 10px;
    gap: .5%;
    .side-menu{
      width: 20%;
      background: #eee;
      box-shadow: 0 0 10px #b5b5b5;
      border-radius: 10px;
      padding: 10px;
      .services{
        h2{
          margin-left: 20px;
          background: #b5b5b5;
          border-radius: 4px;
          padding: 4px 10px;
        }
        ul{
          // list-style-type:circle;
          
          li{
            a{
              color:#000;
              display: block;
              padding: 5px 10px;
              transition: 0.3s ease-in-out;
              &:hover{
                background-color: #131524;
                color: #fff;
              }
            }
          }
        }
      }
    }
    .main-content{
      background: #eee;
      width: 79.5%;
     border-radius: 10px;
     box-shadow: 0 0 5px #b5b5b5;
     
     padding: 10px;

    }

    .middle{
      position: relative;
      height: 300px;
      background: url('../../assets/work01.jpg') center /cover;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .info{
        position: relative;
        z-index: 100;
        text-align: center;
        color: antiquewhite;
        h3{
          
        }
        p{
          color: rgb(159, 157, 157);
        }
      }
      .btns{
        position: relative;
        z-index: 100;
        margin-top: 70px;
      
      }

      .overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(0,0,0, $alpha: 0.5);
        border-radius: 20px;

      }
    }
  }

.work-activity{
  @media (max-width:768px) {
    flex-direction: column;
    
  }
  display: flex;
  justify-content: space-between;
  .work{
    @media (max-width:768px) {
     width: 100%;
      
    }
    width: 50%;
    ion-card{
      
      text-align: center;
      img{
        width: 100px;
      }
      // height: 150px;
      transition: .3s;
      width: 170px;
      &:hover{
        transform: scale(1.1);
      }
    }

    div{
      display: flex;
      flex-wrap: wrap;

    }
  }

  .activity{
    width: 50%;
    .activit-item{
      display: flex;
      align-items: center;
      h3{
        margin: 0;
      }
      p{
        margin: 0;
        color: gray;
      }
      div{

      margin: 0 20px;
        
    }
    span{
      margin-left: auto;
      color: gray
    }
      
    }
  }
}