<ion-header>
  <ion-toolbar>
    <ion-title style="color: #bebebe" class="ion-text-center"
      >Jop Description</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h2 style="border-bottom: 1px solid #ebebeb" class="jop-title">
      Front End Developer
    </h2>
    <div class="detail">
      <h4>Web Developer</h4>
      <div style="border-bottom: 1px solid #ebebeb" class="info">
        <span style="color: gray">4 month</span>
        <span style="color: gray">
          <ion-icon name="location-outline"></ion-icon>
          <span style="color: #bebebe">Cairo</span>
        </span>
        <p style="color: gray">2 Replied Requests</p>
      </div>
    </div>
    <div style="border-bottom: 1px solid #ebebeb" class="qulified">
      <p>I Need a Goog Front End Developer Who has +4 Years experience</p>
    </div>

    <div class="requirements">
      <div>
        <h4>2 days Master card</h4>
        <p>Lorem ipsum dolor sit.</p>
      </div>
      <div>
        <h4>3 Years</h4>
        <p>Experience</p>
      </div>
      <div>
        <h4>1-3 Month</h4>
        <p>Duration</p>
      </div>
      <div>
        <h4>15$</h4>
        <p>Hourly</p>
      </div>
    </div>

    <div class="skills">
      <h3>Skills</h3>
      <div class="skills-inner">
        <span>Html</span>
        <span>Css</span>
        <span>React</span>
        <span>Sass</span>
        <span>Bootstrap</span>
        <span>Github</span>
        <span>Redux</span>
      </div>
    </div>

    <div class="activity">
      <h2>Activity on This Jop</h2>
      <div>
        <span>Proposals :</span>
        <span>5</span>
      </div>
      <div>
        <span>Interviewing :</span>
        <span>4</span>
      </div>
    </div>
    <div class="client activity">
      <h2>About Payment</h2>
      <div>
        <span>Country :</span>
        <span>Egypt</span>
      </div>
      <div>
        <span>Time :</span>
        <span>01:44/2023:06:01</span>
      </div>
    </div>

    <button routerLink="/jobs">Submit a Proposal</button>
  </div>
</ion-content>
