<ion-header>
  <ion-toolbar>
    <ion-title style="color: #bebebe" class="ion-text-center"
      >Jop Description</ion-title
    >
    <ion-buttons slot="end">
      <ion-button routerLink="/myhome" routerDirection="back">
        <ion-icon
          name="home"
          style="padding-right: 3px; color: #5075d5"
        ></ion-icon>
        <ion-label style="text-transform: none; color: #5075d5"
          >Home</ion-label
        >
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="container">
    <h2 style="border-bottom: 1px solid #ebebeb" class="jop-title">
      Front End Developer
    </h2>
    <div class="detail">
      <h4>Web Developer</h4>
      <div style="border-bottom: 1px solid #ebebeb" class="info">
        <span style="color: gray">4 month</span>
        <span style="color: gray">
          <ion-icon name="location-outline"></ion-icon>
          <span style="color: #bebebe">Cairo</span>
        </span>
        <p style="color: gray">2 Replied Requests</p>
      </div>
    </div>
    <div style="border-bottom: 1px solid #ebebeb" class="qulified">
      <p>I Need a Goog Front End Developer Who has +4 Years experience</p>
    </div>

    <div class="requirements">
      <div>
        <h4>2 days Master card</h4>
        <p>Lorem ipsum dolor sit.</p>
      </div>
      <div>
        <h4>3 Years</h4>
        <p>Experience</p>
      </div>
      <div>
        <h4>1-3 Month</h4>
        <p>Duration</p>
      </div>
      <div>
        <h4>15$</h4>
        <p>Hourly</p>
      </div>
    </div>

    <div class="skills">
      <h3>Skills</h3>
      <div class="skills-inner">
        <span>Html</span>
        <span>Css</span>
        <span>React</span>
        <span>Sass</span>
        <span>Bootstrap</span>
        <span>Github</span>
        <span>Redux</span>
      </div>
    </div>

    <div class="activity">
      <h2>Activity on This Jop</h2>
      <div>
        <span>Proposals :</span>
        <span>5</span>
      </div>
      <div>
        <span>Interviewing :</span>
        <span>4</span>
      </div>
    </div>
    <div class="client activity">
      <h2>About Payment</h2>
      <div>
        <span>Country :</span>
        <span>Egypt</span>
      </div>
      <div>
        <span>Time :</span>
        <span>01:44/2023:06:01</span>
      </div>
    </div>

    <button (click)="Show_proposal=1">Send a Proposal</button>
  </div>


  
  <div *ngIf="Show_proposal" class="the-form" (click)="Show_proposal=0">

    
  </div>
  
  <div class="form ion-text-center ion-padding" *ngIf="Show_proposal" >
    <h2 style="color: #5075d5;">Submit Your Proposal</h2>

    <form [formGroup]="proposal_form" action="">
      <div class="edu">

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Payment Amount $:</ion-label>
              <ion-input [(ngModel)]="payment_amount" formControlName="payment_amount" type="number"></ion-input>
          </ion-item>
        </ion-col>
         
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Delivery time (Days):</ion-label>
            <ion-input [(ngModel)]="delivery_time" formControlName="delivery_time" type="number"></ion-input>
          </ion-item>
        </ion-col>
        </ion-row>
        <ion-row>

        <ion-col>
          <ion-item>
            <ion-label position="stacked">Description:</ion-label>
            <ion-input [(ngModel)]="description" formControlName="description" type="text"></ion-input>
          </ion-item>
        </ion-col>


        <ion-col>
          <ion-item>
            <ion-label position="stacked">Attach File (optional):</ion-label>
            <ion-input (change)="ion_change_attach($event)" type="file"></ion-input>
          </ion-item>
        </ion-col>


      </ion-row>

      <ion-button (click)="add_proposal()" color="success" expand="block" style="width: 50%; margin: auto;" [disabled]="proposal_form.invalid">
        Submit
      </ion-button>
      
    </div>
    </form>


  </div>


</ion-content>
