<ion-header>
  <ion-toolbar>
    <ion-title style="color: #bebebe" class="ion-text-center"
      >Jop Description</ion-title
    >
    <ion-buttons slot="end">
      <ion-button routerLink="/myhome" routerDirection="back">
        <ion-icon
          name="home"
          style="padding-right: 3px; color: #5075d5"
        ></ion-icon>
        <ion-label style="text-transform: none; color: #5075d5"
          >Home</ion-label
        >
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  

  <div class="container" >
    <ion-row>
      <ion-col >
        
          <ion-card style="display: flex; align-items: center; justify-content: space-around;  --background: #6d6d6d;" class="ion-text-center  ion-display-flex">

            <div class="img ion-padding">
              <img src="../../assets/egypt.png" alt="" style="width: 150px;">
            
              <div class="skills">
                <ion-item *ngFor="let skill of service_skills">
                  <div class="">
                    <h4>Required Skills</h4>
                    <div class="">
                      <ion-chip>{{skill.name}}</ion-chip>
                      <ion-chip>{{skill.name}}</ion-chip>
                    </div>
                  </div>
                </ion-item>
              </div>
            </div>
            <div class=" ion-padding-100">
              
            <ion-card-title>
              <h1 style="color: #fff;">
                {{service.title}}
              </h1>
            </ion-card-title>
            <ion-card-title>{{service.description}}</ion-card-title>
            <ion-card-subtitle style="color: #5075d5; font-weight: 800;" class="ion-padding-top">Location: {{service.location}}</ion-card-subtitle>
            <h4 class="ion-padding-top" style="color: #bebebe;">Payment Amount: {{service.payment_amount}} $</h4>
            <h5 class="ion-padding-top" style="color: #bebebe;">Payment Method: <span style="color: red; font-weight: 900;">Vodafone Cash</span></h5>
            </div>
          </ion-card>

          <ion-row>
            <ion-col style="display: flex; justify-content: center; align-items: center;">
              <ion-button color="warning" (click)="Show_proposal=1">
              <ion-label >
                Submit Proposal
              </ion-label>
              <ion-icon name="send-outline"></ion-icon>
              </ion-button >
              <ion-button color="medium" routerLink="/jobs">
                View My Proposals
              </ion-button>
            </ion-col>
          </ion-row>
      </ion-col>
      
    </ion-row>
  </div>

  
  <div *ngIf="Show_proposal" class="the-form" (click)="Show_proposal=0">

    
  </div>
  
  <div class="form ion-text-center ion-padding" *ngIf="Show_proposal" >
    <h2 style="color: #5075d5;">Submit Your Proposal</h2>

    <form [formGroup]="proposal_form" action="">
      <div class="edu">

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Payment Amount $:</ion-label>
              <ion-input [(ngModel)]="payment_amount" formControlName="payment_amount" type="number"></ion-input>
          </ion-item>
        </ion-col>
         
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Delivery time (Days):</ion-label>
            <ion-input [(ngModel)]="delivery_time" formControlName="delivery_time" type="number"></ion-input>
          </ion-item>
        </ion-col>
        </ion-row>
        <ion-row>

        <ion-col>
          <ion-item>
            <ion-label position="stacked">Description:</ion-label>
            <ion-input [(ngModel)]="description" formControlName="description" type="text"></ion-input>
          </ion-item>
        </ion-col>


        <ion-col>
          <ion-item>
            <ion-label position="stacked">Attach File (optional):</ion-label>
            <ion-input (change)="ion_change_attach($event)" type="file"></ion-input>
          </ion-item>
        </ion-col>


      </ion-row>

      
    </div>
    <ion-button (click)="add_proposal()" color="success" expand="block" style="width: 50%; margin: auto;" [disabled]="proposal_form.invalid">
      Submit
    </ion-button>
    </form>


  </div>


</ion-content>
