ion-toolbar {
    --background: #131524
}

ion-content {
    --background: #131524;
}

.container {
    width: 60%;
    margin: 20px auto;
    color: #bebebe;
    padding: 10px;

    @media(max-width:768px) {
        width: 100%;
    }

    h2 {
        padding: 10px 0;
    }

    ion-icon {
        color: rgb(16, 46, 196);
        margin: 0 5px;
        font-size: 20px;
        margin-right: 0;
    }

    .requirements {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        div {
            width: 45%;

            p {
                color: gray
            }
        }
    }

    .skills-inner {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        flex-wrap: wrap;
        border-bottom: 1px solid #808080;
        padding: 15px 0;

        span {
            width: 100px;
            display: inline-block;
            padding: 10px;
            border-radius: 25px;
            background-color: #1a1e44;
            text-align: center;
            transition: 0.3s;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .activity {
        border-bottom: 1px solid #808080;

        div {
            display: flex;
            justify-content: space-between;
            padding: 15px 0;

            span {
                &:nth-child(1) {
                    font-size: 18px;
                    font-weight: bold;
                }

                &:nth-child(2) {
                    color: #808080;
                }
            }
        }
    }

    button {
        background-color: #141d75;
        color: #bebebe;
        font-size: 17px;
        border: 0;
        padding: 12px 10px;
        cursor: pointer;
        display: block;
        width: fit-content;
        margin: 15px auto;
        border-radius: 30px;
    }
}

.the-form{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;   
    background: rgba(0, 0, 0 , 0.5);
    z-index: 999;
    
    
    
   }
   .form{
    ion-button{
        // margin-top: 50   px;
    }
       background: #292B3A;
       position: fixed;
       z-index: 9999;
       top: 10%;
       right: 10%;
       left: 10%;
       bottom: 10%;
       border-radius: 5px;
   
       overflow: scroll;
   
       .edu{
           border: 2px solid #292B3A;
           padding-left: 20px;
           padding-right: 20px;
           height: 250px;
       }
 
   
    }
    ion-row{
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        ion-col{
            ion-item{
                border-radius: 10px;
            }
        }
       }

