<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" color="light">Jobs</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/myhome" routerDirection="back">
        <ion-icon
          name="home"
          style="padding-right: 3px; color: #5075d5"
        ></ion-icon>
        <ion-label style="text-transform: none; color: #5075d5"
          >Home</ion-label
        >
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  
    

<div style="display: flex; align-items: center;justify-content: center;">

  <ion-row>
    <ion-col *ngFor="let propos of my_proposals">
        <ion-card  style="--background: #292B3A; " class="ion-padding">
          <ion-card-title style="color: #bebebe;">
            {{service_title}}
          </ion-card-title >
          <ion-card-subtitle style="color: #bebebe;">
            Payment Amount: {{propos.paymentAmount}} $
          </ion-card-subtitle>
          <ion-card-content style="color: #bebebe;" >
            {{propos.descripion}}
          </ion-card-content>
          <ion-item>
            <ion-label>
              Delivery Time in: {{propos.deleveryTime}} Days
            </ion-label>
            <ion-icon name="alarm-outline"></ion-icon>
          </ion-item>
          <ion-button  color="medium" shape="round" [routerLink]="['/edit-proposal', propos.id]">
            <p style="color: #5045d5;">
              Edit Proposal
            </p>
          </ion-button>
        </ion-card>
      </ion-col>


      
    </ion-row>
  </div>


</ion-content>
