<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" color="light">Jobs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <h1 style="color: antiquewhite">No Jobs Offers</h1>
  <div class="myhome-content">
    <div class="sidemenu">sidemenu</div>
    <div class="main-content">
      <ion-item lines="none" style="--background: transparent">
        <ion-label>Nothing to show yet</ion-label>
        <ion-icon name="alert-outline"></ion-icon>
      </ion-item>
      <ion-item lines="none" style="--background: transparent">
        <ion-button
          fill="outline"
          expand="block"
          shape="round"
          color="success"
          routerLink="/myhome"
          routerDirection="back"
        >
          <ion-label>Return back</ion-label>
          <ion-icon name="home"></ion-icon>
        </ion-button>
      </ion-item>
    </div>
  </div>
</ion-content>
