<ion-header class="header">
  <ion-toolbar>
    <ion-title style="color: antiquewhite" class="ion-text-center"
      >My Profile</ion-title
    >
  </ion-toolbar>
</ion-header>
<!-- ION CONTENT START -->
<ion-content class="ion-padding">
<!-- DEV MAIN -->
  <div class="main-content">
<!-- _________________________________________________ -->
    <div class="profile-header">
<!-- _________________________________________________ -->
      <div class="propic">
        <img src="../../assets/profile.png" alt="">
      </div>
<!-- _________________________________________________ -->
      <div class="user-info">
<!-- _________________________________________________ -->
        <div class="title">
          <ion-item lines="none" class="name">
            <h1 class="name">AHMED ALA EDDIN</h1>
          </ion-item>
          <ion-item lines="none">
            <h2 class="university">University College of Engineering, Azhar, Cairo</h2>
          </ion-item>
          <ion-item lines="none">
            <h2 class="show-email">email: Ahmed@gmail.com</h2>
          </ion-item>
      
        </div>
<!-- _________________________________________________ -->
          <div class="social-links">
<!-- _________________________________________________ -->

          <div class="list">
            <ul>
              <li><a href="">www.azhar.edu.eg</a></li>
              <li><a href="">
              <ion-icon name="logo-facebook"></ion-icon>
              Facebook
              </a></li>
              <li><a href="">
              <ion-icon name="logo-twitter"></ion-icon>
                Twitter</a></li>
            </ul>

          </div>
<!-- _________________________________________________ -->
          <div class="list">
            <ul>
              <li><a href="">
              <ion-icon name="logo-linkedin"></ion-icon>
                LinkedIn</a></li>
              <li><a href="">
              <ion-icon name="logo-github"></ion-icon>
                GitHub</a></li>
              <li><a href="">
              <ion-icon name="mail-outline"></ion-icon>
                
                Ahmed@gmail.com</a></li>
            </ul>
          </div>
<!-- _________________________________________________ -->
        </div>
<!-- _________________________________________________ -->

      </div>
      <div class="profile-btns">
        <ion-button color="light" shape="round" (click)="Show_Profile_Editor=1">
          <ion-label>Edit</ion-label>
          <ion-icon name="create-outline" ></ion-icon>
        </ion-button>

      </div>  
      
    </div>

    <div class="education"></div>
  
<!-- ION CONTENT MAIN DEV -->
  </div>
<!-- ION CONTENT ENDING -->
</ion-content>
