<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center" style="color: #5075d5;">Messages</ion-title>
    
  </ion-toolbar>
</ion-header>


<ion-content class="ion-text-center">

<div class="messages-container">
  <h2 style="color: antiquewhite;">Your Messages</h2>
  <div class="card">
    <h4>No messages here</h4>
  </div>

  <ion-button expand="block" color="primary" shape="round" routerLink="/myhome" routerDirection="back">
    <ion-label>Go back</ion-label>
    <ion-icon name="home"></ion-icon>
  </ion-button>
</div>
  
</ion-content>