<ion-header>
  <ion-toolbar style="color: #bebebe; font-weight: bold">
    <ion-title class="ion-text-center">Complete your Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Education -->

  <h2>
    <ion-icon name="checkmark-done-outline"></ion-icon> Add Your Education
  </h2>
  <div class="container">
    <form action="" style="color: white">
      <div>
        <ion-icon name="school-outline"></ion-icon>
        <input type="text" placeholder=" School" id="school" />
      </div>
      <div>
        <ion-icon name="checkmark-outline"></ion-icon>
        <input type="text" placeholder=" Degree" id="school" />
      </div>
      <div>
        <ion-icon name="checkmark-done-outline"></ion-icon>
        <input type="text" placeholder="Description" id="school" />
      </div>
      <div>
        <ion-icon name="link-outline"></ion-icon>
        <input type="text" placeholder=" Field Of Study" id="school" />
      </div>
      <div>
        <ion-icon name="shield-checkmark-outline"></ion-icon>
        <input type="text" placeholder=" Start Date" id="school" />
      </div>
      <div>
        <ion-icon name="chevron-down-outline"></ion-icon>
        <input type="text" placeholder=" End Date" id="school" />
      </div>
    </form>
  </div>

  <!-- Experience -->

  <h2>
    <ion-icon name="checkmark-done-outline"></ion-icon> Add Your Experience
  </h2>
  <div class="container">
    <form action="" style="color: white">
      <div>
        <ion-icon name="school-outline"></ion-icon>
        <input type="text" placeholder=" Title" id="school" />
      </div>
      <div>
        <ion-icon name="checkmark-outline"></ion-icon>
        <input type="text" placeholder=" Company" id="school" />
      </div>
      <div>
        <ion-icon name="checkmark-done-outline"></ion-icon>
        <input type="text" placeholder="start Date" id="school" />
      </div>
      <div>
        <ion-icon name="link-outline"></ion-icon>
        <input type="text" placeholder=" Country" id="school" />
      </div>
      <div>
        <ion-icon name="shield-checkmark-outline"></ion-icon>
        <input type="date" placeholder=" Start Date" id="school" />
      </div>
      <div>
        <ion-icon name="chevron-down-outline"></ion-icon>
        <input type="date" placeholder=" End Date" id="school" />
      </div>
      <div>
        <ion-icon name="chevron-down-outline"></ion-icon>
        <input type="text" placeholder=" Regoin" id="school" />
      </div>
    </form>
  </div>
  <!-- Experience -->

  <h2><ion-icon name="checkmark-done-outline"></ion-icon> Add Your Language</h2>
  <div class="container">
    <form action="" style="color: white">
      <div>
        <ion-icon name="language-outline"></ion-icon>
        <input type="text" placeholder=" Language" id="school" />
      </div>
      <div>
        <ion-icon name="golf-outline"></ion-icon>
        <select name="" id="">
          <option hidden value="Enter Your Level">Level</option>
          <option value="Beginner">Good</option>
          <option value="Intermediate">Inflent</option>
          <option value="Advaced">Native</option>
        </select>
      </div>
    </form>
  </div>
</ion-content>
