ion-toolbar {
    --background: #131524
}

ion-content {
    --background: #131524;
}

ion-col{
    height: 60px;
}
ion-item{
    border-radius: 20px;
    // height: 1px;
}
h2{
    margin-top: 10px;
}
ion-row{
    padding-left: 10px;
    padding-right: 10px;
}

ion-button{
    height: 60px;
    width: 50%;
    margin: auto;
}