<ion-header>
  <ion-toolbar style="color: #bebebe; font-weight: bold">
    <ion-title class="ion-text-center">Complete your Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Education -->
  
  <h2 class="ion-text-center" style="color: #bebebe;">Add Education</h2>
  <form [formGroup]="the_form">
    <ion-row >

      <ion-col >
        <ion-item>
          <ion-label position="stacked">School</ion-label>
          <ion-input [(ngModel)]="school" formControlName="school" type="text" placeholder="School"></ion-input>
        </ion-item>
      </ion-col>
      
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Degree</ion-label>
          <ion-input [(ngModel)]="degree" formControlName="degree" type="text" placeholder="Degree"></ion-input>
        </ion-item>
      </ion-col>
      
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Field of Study</ion-label>
          <ion-input [(ngModel)]="fieldofstudy" formControlName="fieldofstudy" type="text" placeholder="Field od Study"></ion-input>
        </ion-item>
      </ion-col>

    </ion-row> 

    <ion-row >

      <ion-col >
        <ion-item>
          <ion-label position="stacked">From</ion-label>
          <ion-input [(ngModel)]="datefrom" formControlName="datefrom" type="date" placeholder="Date From"></ion-input>
        </ion-item>
      </ion-col>
      
      <ion-col>
        <ion-item>
          <ion-label position="stacked">To</ion-label>
          <ion-input [(ngModel)]="dateto" formControlName="dateto" type="date" placeholder="Date to"></ion-input>
        </ion-item>
      </ion-col>
      
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Description</ion-label>
          <ion-input [(ngModel)]="description" formControlName="description" type="text" placeholder="Describe"></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>  
      

    <h2 class="ion-text-center" style="color: #bebebe;">Add Experience</h2>
    <ion-row >

      <ion-col >
        <ion-item>
          <ion-label position="stacked">Title</ion-label>
          <ion-input [(ngModel)]="title" formControlName="title" type="text" placeholder="Ex. Developer"></ion-input>
        </ion-item>
      </ion-col>
      
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Company</ion-label>
          <ion-input [(ngModel)]="company" formControlName="company" type="text" placeholder="ex. Google"></ion-input>
        </ion-item>
      </ion-col>
      
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Description</ion-label>
          <ion-input [(ngModel)]="descriptionn" formControlName="descriptionn" type="text" placeholder="Description"></ion-input>
        </ion-item>
      </ion-col>

    </ion-row> 

    <ion-row >

      <ion-col >
        <ion-item>
          <ion-label position="stacked">Country</ion-label>
          <ion-input [(ngModel)]="country" formControlName="country" type="text" placeholder="Country"></ion-input>
        </ion-item>
      </ion-col>
      
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Start date</ion-label>
          <ion-input [(ngModel)]="startdate" formControlName="startdate" type="date" placeholder="date"></ion-input>
        </ion-item>
      </ion-col>
      
      <ion-col>
        <ion-item>
          <ion-label position="stacked">End Date</ion-label>
          <ion-input [(ngModel)]="enddate" formControlName="enddate" type="date" placeholder="date"></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>

    <h2 class="ion-text-center" style="color: #bebebe;">Add Languages</h2>

    <ion-row >

      <ion-col>
        <ion-item>
          <ion-label position="stacked">Language</ion-label>
          <ion-input [(ngModel)]="langname" formControlName="langname" type="text" placeholder="ex. English"></ion-input>
        </ion-item>
      </ion-col>
      
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Level</ion-label>
          <ion-input [(ngModel)]="langlevel" formControlName="langlevel" type="text" placeholder="ex. Native"></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>

    
    <ion-row >

      <ion-col>
        <ion-item>
          <ion-label position="stacked">Language (optional)</ion-label>
          <ion-input type="text" placeholder="ex. French"></ion-input>
        </ion-item>
      </ion-col>
      
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Level</ion-label>
          <ion-input type="text" placeholder="ex. Excellent"></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-col>
      <ion-button color="success" expand="block" [disabled]="the_form.invalid">
        <ion-icon name="save" ></ion-icon>
        <ion-label>Save</ion-label>
      </ion-button>
    </ion-col>

    </form>
  
</ion-content>
