<ion-header>
  <ion-toolbar style="color: #bebebe;font-weight: bold;">
    <ion-title class="ion-text-center">Complete your Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <form action="" style="color: white;">
      <h2>
        Education Fill Form 
      </h2>
      <div>
        <label for="school">School</label>
        <input type="text" placeholder="Enter School" id="school">
      </div>
      <div>
        <label for="school">School</label>
        <input type="text" placeholder="Enter School" id="school">
      </div>
      <div>
        <label for="school">School</label>
        <input type="text" placeholder="Enter School" id="school">
      </div>
    </form>
  </div>

</ion-content>
